{% load render_partial %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/favicon.png">
    {% include 'shared/header_refrences.html' %}
</head>
<body>
{% render_partial 'articles.views.header_component' %}
{% block content %}{% endblock %}
{% render_partial 'articles.views.footer_component' %}
{% include 'shared/footer_refrences.html' %}
</body>
</html>
